@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"),
   url("./font/gotham/CarneroBold.ttf") format("truetype");
  /* font-weight: bold; */
 }
@font-face {
  font-family: "Gotham-Light";
  src: local("Gotham-Light"),
   url("./font/gotham/GothamLight.ttf") format("truetype");
  /* font-weight: bold; */
 }
 @font-face {
  font-family: "Gotham-Medium";
  src: local("Gotham-Medium"),
   url("./font/gotham/GothamMedium.ttf") format("truetype");
  /* font-weight: bold; */
 }
.custom-prev-button {
    background-color: blue;
    width: 40px;
    height: 40px;
  }
  
  .custom-next-button {
    background-color: red;
    width: 40px;
    height: 40px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: white;
    
  }
.swiper-pagination .swiper-pagination-bullet-active {
    opacity: .4;
    background-color:rgb(33, 205, 156);
  }

   
    ol
    {
      @apply list-decimal
    } 



 body{
  @apply font-GothamLight
 }
